body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #eeef94, #edaae9);
  }
  
  #main_section {
    min-height: 100vh;
    background-image: linear-gradient(to right, #eeef94, #edaae9);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  #left_article {
    height: 500px;
    width: 50%;
    display: flex;
    margin-left: 190px;
    box-sizing: border-box;
  }
  
  #div1 {
    height: 400px;
    width: 200px;
    margin-right: 75px;
  }
  
  #div1 img {
    margin-bottom: 10px;
  }
  
  #right_article {
    height: 230px;
    width: 50%;
    background-color: #fc4e4ed9;
    padding: 10px 0px 20px 30px;
    margin: 50px 190px 120px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    min-height: 200px;
  }
  
  #right_article p {
    font-size: 15px;
    padding-top: 10px;
    flex-shrink: 1;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #right_article h1 {
    font-size: 45px;
    /* padding-bottom: 10px; */
    margin: 0;
    flex-shrink: 1;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* margin: right 10px; */
  }
  
  #right_article a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    margin: 0;
  }
  
  #right_article img {
    margin-right: 10px;
    flex-shrink: 0;
  }
  
  @media screen and (max-width: 1200px) {
    #left_article,
    #right_article {
      margin: 80px;
    }
  }
  
  @media screen and (max-width: 992px) {
    #left_article,
    #right_article {
      margin: 50px;
    }
  }
  
  @media screen and (max-width: 768px) {
    #main_section {
      flex-direction: column;
      height: auto;
    }
  
    #left_article,
    #right_article {
      width: 100%;
      margin: 0;
    }
  
    #div1 {
      margin-right: 0;
    }
  }